//colors
$neon-green: hsl(150, 100%, 66%);

$blue-100: hsl(193, 38%, 86%);
$blue-200: hsl(217, 19%, 38%);
$blue-300: hsl(217, 19%, 24%);
$blue-400: hsl(218, 23%, 16%);



body {
    background: $blue-400;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    
}

main {
    height: 100vh;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.advice-card {
    flex-basis: 540px;    
    flex-direction: column;
    background-color: $blue-300;
    padding: 20px 0;
    border-radius: 15px;
    

    &--id {
        color: $neon-green;
        font-size: 14px;
        letter-spacing: 0.25em;
        padding: 20px 0 5px;
        text-transform: uppercase;
    }

    &--adviceText {
        color: $blue-100;
        font-size: 28px;
        line-height: 38.5px;
        margin: 20px 40px;
        text-align: center;
    }

    &--button {
        background-color: $neon-green;
        width: 64px;
        height: 64px;
        border-radius: 100%; 
        border: none;
        cursor: pointer;
        margin: 12px auto -50px;
        transition: box-shadow 0.2s ease;

        &:hover {
            box-shadow: 0 0 20px 1px $neon-green;
        }

        &:active {
            box-shadow: 0 0 30px 1px $neon-green;
        }
    }
}

#divider {

    margin: 24px auto 30px;

    &--mobile {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .advice-card {
        margin: auto 20px;

        &--id {
            font-size: 12px;
        }
    
        &--adviceText {
            font-size: 24px;
            line-height: 33px;
            margin: 20px 20px;

        }
    }
}

// frontend mentor attribution styles
.attribution { 
    font-size: 11px; text-align: center;

    & a {
        color: hsl(228, 45%, 44%);
    }
}